.form {
  margin: 10px 0;
  .search-button {
    background: lightskyblue;
    font-size: 1.2em;
    border: solid 1px darkblue;
    border-radius: 4px;
    height: 36px;
    padding: 6px 12px;
    color: #000;
    outline: none;
    &:disabled {
      background: #ccc;
    }
  }
  .text-input {
    border: solid 1px #ccc;
    padding: 6px 12px;
    font-size: 1.2em;
    border-radius: 4px;
    margin: 0 6px;
    outline: none;
    &.has-error {
      border-color: #cc0000;
    }
  }
}

.error {
  color: #cc0000;
}
