.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form {
  margin: 10px 0;
}
.error {
  color: #cc0000;
}
.search-button {
  background: lightskyblue;
  font-size: 1.2em;
  border: solid 1px darkblue;
  border-radius: 4px;
  margin: 0 3px;
  height: 36px;
  padding: 6px 12px;
  color: #000;
}

.search-button:disabled {
  background: #ccc;
}
.text-input {
  border:solid 1px #ccc;
  padding: 6px 12px;
  font-size: 1.2em;
  border-radius: 4px;
  outline: none;
}
.has-error {
  border-color: #cc0000;
}

.table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}
.cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  
  padding: 0.8em 1.2em;
  overflow: hidden; 
  list-style: none;
  width: 25%;
  border: solid 2px #ccc;
  position: relative;
}

.heading {
  font-weight: bold;
}

.sort-icon {
  position: absolute;
  right: 5px;
}
